# MySQL
MYSQL_ROOT_PASSWORD=0409
MYSQL_DATABASE=my_database
MYSQL_USER=admin
MYSQL_PASSWORD=admin123

# zookeeper
ALLOW_ANONYMOUS_LOGIN=yes

# Kafka
ALLOW_PLAINTEXT_LISTENER=yes
KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CLIENT:PLAINTEXT,EXTERNAL:PLAINTEXT
KAFKA_CFG_LISTENERS=CLIENT://:9092,EXTERNAL://:9093
KAFKA_CFG_ADVERTISED_LISTENERS=CLIENT://kafka:9092,EXTERNAL://localhost:9093
KAFKA_INTER_BROKER_LISTENER_NAME=CLIENT

# Kafka UI
KAFKA_CLUSTERS_0_NAME=local
KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=kafka:9092
KAFKA_CLUSTERS_0_ZOOKEEPER=zookeeper:2181